html {
  padding: 0;
  margin: 0;
  background-color: #868686;
  color: #323232;
  background-image: url('bg.png');
}

body {
  font-weight: 400;
  font-family: 'EB Garamond', serif;
  vertical-align: baseline;
  -webkit-font-smoothing: antialiased;
  text-rendering: geometricPrecision;
}

.card {
  font-size: 32px;
  width: 23em;
  font-variant: small-caps;
  text-shadow: 1px 1px 1px #FFFFFF;
  background-color: #E9E9dd;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2em;
  box-shadow: 0px 5px 10px #525252;
  padding: 1em;
  padding-top: 1.6em;
  position: relative;
  border-radius: 2px;
  background-image: url('paper.png');
}

.phone {
  float: left;
  margin-bottom: 2.2em;
}

.company {
  float: right;
  font-size: 0.9em;
  text-align: right;
  margin-bottom: 2.2em;
}

.company .tagline {
  font-size: 0.6em;
  text-align: right;
  margin-top: -0.5em;
}

.name {
  clear: both;
  text-align: center;
}

.title {
  text-align: center;
  margin-bottom: 3.5em;
}

.address {
  font-size: 0.8em;
  text-align: center;
}

.footer {
  margin-top: 4em;
  text-align: center;
}

.edit {
  margin-top: 3em;
  font-size: 20px;
}

.edit .tagline {
  margin-top: 0.5em;
}

.edit .title {
  margin-bottom: 2em;
}

.edit input {
  width: 15em;
  text-align: center;
  border: 1px solid #ABABAB;
  border-radius: 2px;
  background-color: #EFEFEF;
  font-family: 'EB Garamond', serif;
  font-size: 13px;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}
.edit .address input {
  width: 100%;
}

.save {
  margin-top: 1.5em;
  text-align: center;
}

@media all and (max-width: 600px) {
  .card {
    font-size: 13px;
  }
  .edit input {
    width: 10em;
  }
}
